.projects-section {
  padding: 2rem 5rem;
  color: #e0e0e0;
  box-sizing: border-box;
  width: 100%;;
}

.project-list-heading {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.projects-list {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  box-sizing: border-box;
  align-items: center;
}

@media (max-width: 1000px) {
  .projects-section {
    padding: 10px;
  }

}