#root {
  margin: 0 auto;
  /* padding: 2rem; */
  /* text-align: center; */
  width: 100vw;
  height: 100vh;
}

body {
  background: #14151a;
  color: #e0e0e0;
  min-height: 100vh;
  margin: 0;
  font-family: 'Inter', Arial, sans-serif;
}

.app-container {
  display: flex;
  min-height: 100vh;
  height: 100vh;
  background: #14151a;
  align-items: stretch;
}

